.panels-container {
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

/* Panel button styles */
.panel,
.panel-soon {
    width: 36rem;
    height: 14rem;
    padding: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../assets/img/plant-border.png") center/cover no-repeat, #004D00;
    border-radius: 1.8rem;
    font-size: 2.4rem;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, background-size 0.3s;
}

.panel-soon {
    background: url("../assets/img/plant-border.png") center/cover no-repeat, #004D00;
}

.panel:hover {
    background-color: rgb(72, 138, 28);
    transform: scale(1.025);
    background-size: 116%;
}

.panel-soon:hover {
    cursor: not-allowed;
}

.coming-soon {
    font-size: 0.8em;
    margin-left: 5px;
    font-style: italic;
}

@media (max-width: 768px) {
    body {
        height: 100vh;
    }

    .panels-container {
        display: flex;
        flex-direction: column;
    }

    .panel,
    .panel-soon {
        width: 100%;
        height: 12rem;
        font-size: 2rem;
    }
}