main {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center; /* So the grid stays centered */
}

.panels-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Fixed 2 columns */
    column-gap: 4rem; /* Horizontal space between panels */
    row-gap: 1rem; /* Vertical space between panels */
}

/* Panel button styles */
.panel {
    display: flex;
    width: 18rem;
    padding: 4rem;
    margin: 1.5rem 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: url("../assets/img/plant-border.png") center/cover no-repeat, rgba(0, 128, 0, 0.7);
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, background-size 0.3s;
}

.panel-soon {
    width: 18rem;
    padding: 4rem;
    margin: 1.5rem 0;
    text-align: center;
    background: url("../assets/img/plant-border.png") center/cover no-repeat, rgba(51, 112, 51, 0.589);
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, background-size 0.3s;
}

/* Hover effect */
.panel:hover {
    background-color: rgb(72, 138, 28);
    transform: scale(1.025);
    background-size: 116%;
}

.panel-soon:hover {
    cursor: not-allowed;
}

.coming-soon {
    font-size: 0.8em;
    margin-left: 5px;
    font-style: italic;
}