body {
    color: whitesmoke;
    background-color: rgb(6, 23, 48);
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    padding: 0.4rem;
    justify-content: center; /* Center horizontally */
    align-items: center;
    background-color: rgb(8, 28, 58);
    border-bottom: 0.4px solid rgb(247, 207, 79); /* Purple horizontal line */
}

.logo {
    display: flex;
    align-items: center; /* Aligns text and image on the same line */
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    color: whitesmoke;
}

.logo img {
    width: 3rem; /* Adjust size as needed */
    height: auto;
    margin-left: 0.4rem;
}

.logo:hover {
    opacity: 0.8;
}


.green {
    background: linear-gradient(to bottom, rgb(177, 255, 6), rgb(34, 129, 1)); /* Light green to dark green */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
